<p class="float-right">query: <em>{{ vm.query }}</em></p>

<h3>Search results</h3>

<p>Total results: {{ vm.totalResults }} (page {{ vm.page }} of {{ vm.totalPages }})</p>

<div class="list-group movies">
	<a href="#!/movie/{{ movie.id }}/{{ movie.title }}" ng-repeat="movie in vm.movies" href="#" class="movie list-group-item text-dark clearfix">
		<div class="clearfix movie__header">
			<strong class="h4 float-left">{{ movie.title }}</strong>
			<small class="float-left">({{ vm.getMovieYear(movie) }})</small>
			<span class="float-right badge badge-primary">{{ movie.vote_average }}</span>
		</div>
		<img class="float-right movie__poster" ng-if="vm.getImage(movie.poster_path)" ng-src="{{ vm.getImage(movie.poster_path) }}" alt="{{ movie.title }} poster">
		<p>{{ movie.overview }}</p>
	</a>
</div>

<nav>
	<ul class="pagination justify-content-center">
		<li class="page-item" ng-class="{ disabled: vm.page < 2}">
			<a class="page-link" href="#!/search/{{ vm.query }}/{{ vm.page - 1 }}">Previous</a>
		</li>
		<li class="page-item" ng-class="{ active: page === vm.page }" ng-repeat="page in vm.pages">
			<a class="page-link" href="#!/search/{{ vm.query }}/{{ page }}">{{ page }}</a>
		</li>
		<li class="page-item" ng-class="{ disabled: vm.page > vm.totalPages - 1}">
			<a class="page-link" href="#!/search/{{ vm.query }}/{{ vm.page + 1 }}">Next</a>
		</li>
	</ul>
</nav>