.movies {
	margin: 2em 0;
}

.movie:hover .movie__header .h4 {
	text-decoration: underline;
}

.movie__header {
	margin-bottom: 1em;

	small {
		margin-left: 20px;
		margin-top: 0.5em;
	}
}

.movie__poster {
	width: 130px;
}
