<!doctype html>
<html ng-app="tmdbApp">
	<head>
		<meta charset="UTF-8">
		<title>The Movie DataBase example</title>
	</head>
	<body ng-controller="AppController">
		<div class="container">
			<header>
				<h1>The Movies DataBase</h1>
				<form class="input-group search-box" ng-submit="submit()">
					<input type="search"  ng-model="searchText" class="form-control" placeholder="Search for movie" aria-label="Search for movie">
					<span class="input-group-btn">
						<input class="btn btn-primary" type="submit" value="Search">
					</span>
				</form>
			</header>
			<section ng-view>
			</section>
		</div>
		<script src="/bundle.js"></script>
	</body>
</html>